<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ItemMapper">
	<select parameterType="map" id="consultarItems" resultMap="ItemResult">
			select
			i.id ,
			i.nombre ,
			i.descripcion ,
			i.fechalanzamiento ,
			i.tarifaxdia ,
			i.formatorenta ,
			i.genero ,
			i.tipoitem_id

		
			FROM VI_ITEMS as i;
	</select>
	<resultMap type='Item' id='ItemResult'>
		<id property='id' column='i.id'/>
		<result property='nombre' column='i.nombre'/>
		<result property='descripcion' column='i.descripcion'/> 
		<result property='fechaLanzamiento' column='i.fechalanzamiento'/>
		<result property='tarifaxDia' column='i.tarifaxdia'/>
		<result property='formatoRenta' column='i.formatorenta'/>
		<result property='genero' column='i.genero'/>
		<association property="tipo" javaType="TipoItem"></association>
	</resultMap>

    
    
</mapper>