<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">
	<select parameterType="map" id="consultarItemsRentados" resultMap="ItemRentadoResult">
				select
				ir.id ,
				ir.cliente_documento ,
				ir.items_id ,
				ir.fechainiciorenta ,
				ir.fechafinrenta

			
				FROM VI_ITEMRENTADO as ir;
	</select>
    <resultMap type='TipoItem' id='TipoItemResult'>
		<id property='id' column='ir.id'/>
		<associaton property="item" javaType="Item"></associaton>
		<result property='fechainiciorenta' column='ir.fechainiciorenta'/>
		<result property='fechafinrenta' column='ir.fechafinrenta'/>
	</resultMap>

                
</mapper>